* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

h1 {
    font-size: 40px;
    color: deeppink;
    text-align: center;
}

h2 {
    color: #FFFFFF;
    font-size: 20px;
}

p {
    color: #FFFFFF;
}

a {
    color: #4DABEF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#main-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 40px;
    align-self: stretch;
    flex-wrap: wrap;
    margin: 60px 120px 0px 120px;
}

#heading-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}


.line-card-layout {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.cards-layout {
    display: flex;
    width: 380px;
    align-items: center;
    margin: 20px 0px 20px 0px;
    gap: 16px;
}

.cards-style {
    background: #0F0E16;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.25);
}

.img-sizing {
    width: 100px;
    height: 100px;
}

.title-composition {
    margin: 4px;
}

.class-p {
    color: #000000;
    text-align: center;
}